<div
  class="modal"
  id="editarProduto"
  tabindex="-1"
  aria-labelledby="editarProdutoModal"
  aria-hidden="fasle"
  data-bs-backdrop="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editarProdutoModal">Editar Produto</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/orcamento/{{orcamento._id}}/produto/{{item._id}}/editar/"
          method="post"
        >
          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              name="nome"
              value="{{item.nome}}"
            />
          </div>
          <div class="form-group">
            <label for="preco_unitario">Preço Unitário</label>
            <input
              type="number"
              class="form-control"
              id="preco_unitario"
              name="preco_unitario"
              value="{{item.preco_unitario}}"
            />
          </div>
          <div class="form-group">
            <label for="quantidade">Quantidade</label>
            <input
              type="number"
              class="form-control"
              id="quantidade"
              name="quantidade"
              value="{{item.quantidade}}"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="Submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
